<input type="datetime-local" name="arrival"></div>
<label>Destination: </label>
     <select name="airport">
         <option value="AUS">AUS</option>
         <option value="DEN">DEN</option>
         <option value="SAN">SAN</option>
         <option value="LAX">LAX</option>
         <option value="DFW">DFW</option>
     </select>